<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asialabs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asialabs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>asiaLabs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$asiaLabs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AsiaLabDbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:asialab.database.windows.net,1433;Initial Catalog=AsiaLabDb;User ID=AsiaLab@asialab;Password=Asia+Lab2016" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AsiaLabv1.AsiaLabDbEntities, AsiaLabv1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AsiaLabDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/AsiaLabDb.csdl|res://*/AsiaLabDb.ssdl|res://*/AsiaLabDb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:asialab.database.windows.net,1433;Initial Catalog=AsiaLabDb;User ID=AsiaLab@asialab;Password=Asia+Lab2016"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>